 * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

/*HEADER*/
.main-header {
  background-color: #3E2A35;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-header-title-container {
  margin-left: 20px;
}

.main-header-title {
  color: #FFF;
  font-size: 50px;
  font-weight: 800;
}

.main-header-title-logo {
  height: 60px;
  margin: 0 15px -10px;
  width: 60px;
}

.header-search-bar-container {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.search-bar-input {
  border: 2px solid #C2B2B4;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 30px;
  height: 50px;
  outline: none;
  padding-left: 20px;
  width: 380px;
}

.search-bar-btn {
  background-color: #C2B2B4;
  border-bottom-right-radius: 6px;
  border-left-style: none;
  border-top-right-radius: 6px;
  height: 50px;
}

.fa-search {
  color: #FFFFFF;
  font-size: 32px;
  height: 50px;
  padding-top: 7px;
  width: 50px;
}

/*MAIN*/
.main-input-section {
  background-color: #3E2A35;
  width: 100%;
}

.input-section-form {
  margin: auto;
  padding: 50px 0;
  width: 750px;
}

.section-title-container,
.section-caption-container {
  display: flex;
  flex-direction: column;
}

.section-title,
.section-caption {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  padding: 5px 0;
}

.section-input-button {
  height: 60px;
}

.photo-title-input,
.photo-caption-input {
  font-size: 30px;
  outline: none;
  padding-left: 20px;
}

.section-buttons-container {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
}

.choose-file {
  align-items: center;
  background-color: #5B4447;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  width: 100%;
}

.choose-file-text {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

#files {
  display: none;
}

.view-favorites,
.add-to-album {
  color: #FFF;
  background-color: #5B4447;
  border: none;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 40px;
  outline: none;
  width: 40%;
}

.view-favorites:hover,
.add-to-album-hover:hover,
.choose-file:hover {
  background-color: #938284;
}

.disabled-btn {
  background-color: #C2B2B4;
}

.user-images-container {
  background-color: #C2B2B4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 10px;
  padding: 30px 50px;
  width: 100%;
}

.images-card {
  background-color: #FFF;
  border: 2px solid #5B4447;
  margin: auto;
  width: 300px;
}

.title-output {
  color: #5B4447;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  margin: 0px;
  padding: 5px 10px;
}

.caption-output {
  color: #5B4447;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  padding: 5px 10px;
}

.photo-output {
  height: 200px;
  left: 0px;
  position: relative;
  width: 296px;
}

.button-container {
  align-items: center;
  background-color: #5B4447;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.card-delete-button {
  background-image: url('images/delete.svg');
  height: 30px;
  margin: 10px;
  width: 29px;
}

.card-delete-button:hover {
  background-image: url('images/delete-active.svg');
}

.card-favorite-button  {
  height: 27px;
  margin: 10px;
  width: 29px;
}

.favorite-false {
  background-image: url('images/favorite.svg');
}

.favorite-true {  
  background-image: url('images/favorite-active.svg');
}

.favorite-false:hover {
  background-image: url('images/favorite-active.svg');
}

.favorite-true:hover {
  background-image: url('images/favorite.svg');
}

.show-buttons-container {
  background-color: #C2B2B4;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.show-buttons {
  background-color: #5B4447; 
  color: #FFF;
  height: 40px;
  margin: 20px 20px ;
  outline: none;
  width: 100px;
}

.show-buttons:hover {
  background-color: #938284;
}

.more-less-toggle {
  display: none;
}

@media screen and (max-width: 920px) {
  .input-section-form {
    width: 80%;
  }

  .main-header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .main-header-title-container,
  .header-search-bar-container {
    margin: 0;
  }
}

@media screen and (max-width: 770px) {
  .user-images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .images-card {
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 530px) {
  .main-header-title {
    font-size: 9.5vw;
  }

  .main-header-title-logo {
    font-size: 8vw;
  }

  .header-search-bar-container {
    display: flex;
    width: 80%;
  }

  .search-bar-input {
    font-size: 5.5vw;
  }

  .search-bar-btn {
    width: 50px;
  }

  .section-title,
  .section-caption,
  .choose-file-text,
  .view-favorites,
  .add-to-album {
    font-size: 3.75vw;
  }
}


